@model JobHunt.BU.DTO.RecruitDTO
@{
    ViewBag.Title = "Đổi mật khẩu";
}
<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(@Model.RICoverImage) 100% 100% no-repeat scroll transparent;" class="parallax scrolly-invisible no-parallax" id="bg-recruit"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Xin chào @Model.RIFullName</h3>
                    </div>
                    <div class="edit-coverimage" id="bg-upcover">
                        <a title="Ảnh bìa công ty">
                            <div class="edit-avatar__btn up-coverimage">
                                <img src="~/Assets/client/images/camera.png" class="display-inline-block" />
                                <p class="display-inline-block text-update-cover-img">Cập nhật</p>
                            </div>
                            <input type="file" name="" value="" class="btnupcover" id="updatecover" />

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block no-padding">
        <div class="container">
            <div class="row no-gape">
                @Html.Partial("_LayoutMenuLeft")
                <div class="col-lg-9 column">
                    <div class="padding-left">
                        <div class="manage-jobs-sec">
                            <h3>Đổi mật khẩu</h3>
                            <div class="change-password">
                                @using (Html.BeginForm("ChangePasswordRC", "Recruit", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "ChangePasswordRC" }))
                                {
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <span class="pf-title">Mật khẩu cũ</span>
                                            <div class="pf-field">
                                                <input type="password" name="OddPass" placeholder="Mật khẩu cũ" id="OddPass">
                                                <i class="la la-key"></i>
                                            </div>
                                            <span class="pf-title">Mật khẩu mới</span>
                                            <div class="pf-field">
                                                <input type="password" name="NewPass" placeholder="Mật khẩu mới" id="NewPass">
                                                <i class="la la-key"></i>
                                            </div>
                                            <span class="pf-title">Xác nhận mật khẩu</span>
                                            <div class="pf-field">
                                                <input type="password" name="ConfirmPass" placeholder="Nhập lại mật khẩu" id="ConfirmPass">
                                                <i class="la la-key"></i>
                                            </div>
                                            <button type="submit"> Đổi mật khẩu</button>
                                        </div>
                                        <div class="col-lg-6">
                                            <i class="la la-key big-icon"></i>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
