@using Microsoft.AspNet.Identity
@using JobHunt.BU.Manage
@model JobHunt.BU.DTO.CandidateDTO
@{
    ViewBag.Title = "Đổi mật khẩu || " + Model.CddFullName;
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<div class="col-lg-9 column">
    <div class="padding-left">
        <div class="manage-jobs-sec">
            <h3>Đổi mật khẩu</h3>
            <div class="change-password">
                @using (Html.BeginForm("ChangePasswordCdd", "Candidate", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "ChangePassword" }))
                {
                    <div class="row">
                        <div class="col-lg-6">
                            <span class="pf-title">Mật khẩu cũ</span>
                            <div class="pf-field">
                                <input type="password" name="OddPass" placeholder="Mật khẩu cũ" id="OddPass">
                                <i class="la la-key"></i>
                            </div>
                            <span class="pf-title">Mật khẩu mới</span>
                            <div class="pf-field">
                                <input type="password" name="NewPass" placeholder="Mật khẩu mới" id="NewPass">
                                <i class="la la-key"></i>
                            </div>
                            <span class="pf-title">Xác nhận mật khẩu</span>
                            <div class="pf-field">
                                <input type="password" name="ConfirmPass" placeholder="Nhập lại mật khẩu" id="ConfirmPass">
                                <i class="la la-key"></i>
                            </div>
                            <button type="submit"> Đổi mật khẩu</button>
                        </div>
                        <div class="col-lg-6">
                            <i class="la la-key big-icon"></i>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

