
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Lỗi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="CreativeLayers">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/Assets/client/css/icons.css">
    <link rel="stylesheet" href="~/Assets/client/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/chosen.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/colors/colors.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/bootstrap.css" />
    <link href="~/Assets/client/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body>

    <div class="page-loading">
        <img src="~/Assets/client/images/loader.gif" alt="" />
        <span>Skip Loader</span>
    </div>

    <div class="theme-layout" id="scrollup">

        <section>
            <div class="block no-padding">
                <div class="container fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-featured-sec witherror">
                                <ul class="main-slider-sec text-arrows">
                                    <li><img src="~/Assets/client/images/resource/mslider3.jpg" alt="" /></li>
                                    <li><img src="~/Assets/client/images/resource/mslider2.jpg" alt="" /></li>
                                    <li><img src="~/Assets/client/images/resource/mslider1.jpg" alt="" /></li>
                                </ul>
                                <div class="error-sec">
                                    <img src="~/Assets/client/images/404.png" alt="" />
                                    <span>Chúng tôi xin lỗi, trang không tồn tại</span>
                                    <p>Thật không may, trang bạn đang tìm kiếm không thể được tìm thấy. Nó có thể tạm thời không có sẵn, di chuyển hoặc không còn tồn tại. Kiểm tra Url bạn đã nhập cho bất kỳ sai lầm và thử lại.</p>
                                    <h6><a href="/" title="">Trở lại trang chủ</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>


    <script src="~/Assets/client/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/Assets/client/js/modernizr.js" type="text/javascript"></script>
    <script src="~/Assets/client/js/script.js" type="text/javascript"></script>
    <script src="~/Assets/client/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Assets/client/js/wow.min.js" type="text/javascript"></script>
    <script src="~/Assets/client/js/slick.min.js" type="text/javascript"></script>

</body>
</html>

